

.home-hero h1,
.home-hero h2,
.home-hero h3,
.home-hero h4,
.home-hero h5,
.home-hero h6 {
    margin: 10px 0 10px 0;

}

.home-hero p {
    padding: 15px 0 10px 0;

}

.home-hero p .btn-primary{
    margin: 0 !important;
}

.hero-custom.hero-info p strong {
    font-size: 16px !important;
}

.hero-custom.hero-info p {
    font-size: 14px !important;
}

/* 


.hero-custom.hero-info .countdown span {
    font-size: 12px !important;
} */

.hero-custom.hero-info h2 {
    padding-bottom: 20px;
    font-size: 20px !important;
}

@media (min-width:992px) {
    .hero-custom.hero-info p strong {
        font-size: 22px;
    }
    
    .hero-custom.hero-info p a {
        font-size: 16px !important;
    }
    
    .hero-custom.hero-info h2 {
        padding-bottom: 20px;
        font-size: 28px !important;
    }
}