{% extends "landing/layout.jinja" %}
{% set main_title='Accueil' %}
{% set page_id='home_pg' %}
{% set hero_size = 'lg'%}
{% set footer_size = 'lg'%}

{% block custom_css %}
    <link href="{{ url_for('home.static', filename='/css/home.css') }}" rel="stylesheet">
{% endblock %}

{% block page_hero %}
    <div class="hero-info w-75 d-flex flex-column justify-content-center align-items-center">
      {{ hero.msg | safe_md }}
      <div class="d-flex flex-lg-row flex-column mt-4">
        <a href="{{ url_for('home.register') }}" class="btn btn-primary my-1">{{ _('Commencer une inscription') }}</a>
        <a href="{{ url_for('home.login') }}" class="btn btn-secondary my-1">{{ _('Réimprimer une inscription') }}</a>
      </div>
    </div> 
    <div class="hero-bg">
        <img src="{{ url_for('home.static', filename=hero.img) }}" alt="">
    </div>
{% endblock %}


