{% extends "login/layout.jinja" %}
{% set head_title='Login' %}
{% from 'login/macros.jinja' import render_messages %}

{% block page_form %}
    <form class="login-form container d-flex flex-column align-items-center" 
          method="POST" action="{{ url_for('home.recover_password', next=next) }}">

        {{ form.csrf_token }}

        <!-- Header -->
        <div class="row w-100 pt-5 pb-4 d-flex justify-content-center">
            <div class="col-10 text-center">
                <h4>{{ _('Saisissez les informations suivantes') }}</h4>
            </div>
        </div>
        
        <!-- Alertes -->
        {{ render_messages() }}

        <!-- Identifiant -->
        <div class="field row my-2 w-100 d-flex justify-content-center">
            <div class="col-10 col-lg-4">
                {{ form.id(class_="form-control my-2", placeholder=_("numéro du paiement"), size=20) }}   
                {{ form.nom_complet(class_="form-control my-2", placeholder=_("noms et prenoms"), size=40) }}   
                {{ form.date_naissance(class_="form-control my-2", placeholder=_("date de naissance"), size=40) }} 
                {{ form.lieu_naissance(class_="form-control my-2", placeholder=_("lieu de naissance"), size=40) }}           
            </div>
        </div><!-- End Identifiant -->


        <div class="row pt-3 w-100 d-flex justify-content-center">
            <div class="col-10 col-lg-4 flex-column align-items-start">
                <input class="btn btn-primary w-100" type="submit" value="{{ _('Valider') }}">
                <ul class="login-links">
                    <li><a class="btn btn-link mt-5" href="{{ url_for('home.help') }}">{{ _("Besoin d'aide ?") }}</a></li>
                    <li><a class="btn btn-link mt-1" href="{{ url_for('home.index') }}">{{ _("Retour a l'accueil !") }}</a></li>
                </ul>
            </div>
        </div>
    </form>
{% endblock %}

{% block page_authors %}
    <a>Malcom Chumchoua Penda</a>
{% endblock %}
