{% extends 'dashboard/layout.jinja' %}
{% set page_id = 'concours_inscription_pg' %}
{% from 'concours-macros.jinja' import render_sub_form, render_text_field, 
                                       render_select_field, render_text_cell,
                                       render_confirm_modal, render_messages %}

{% block custom_css %}
    <link href="{{ url_for('concours.static', filename='/css/new.css') }}" rel="stylesheet">
{% endblock %}


{% block page_header %}
  <h1>{{ _('Modification Inscription') }}</h1>
{% endblock %}

{% block page_main %}
<div class="container">
    <section class="section row g-4 pt-0">
    
        <!-- Alertes -->
        {{ render_messages() }}

        <!-- Confirmation -->
        {% call render_confirm_modal('confirm_modal', 'confirm_button') %}
            <p>Voulez-vous vraiment modifier cette fiche?</p>
        {% endcall %}


        <form class="px-4 col-lg-10 col-12 needs-validation" novalidate
            method="POST" action="{{ url_for('concours.edit_inscr') }}">
            
            <!-- Actions initiales -->
            <div class="my-3 g-3">
            <div class="d-flex justify-content-end text-center pb-4">
                <a href="{{ url_for('concours.view_inscr') }}" class="btn btn-secondary btn-lg m-1">Annuler les modifications</a>
            </div>
            </div> <!-- End Actions initiales -->

            <!-- Fields -->
            {{ form.csrf_token }}

            <!-- Choix concours -->
            {% call render_sub_form(form, "1. Concours")%}
                {{ render_select_field(form.centre, 'col-lg-3 col-10', disabled=True, required=false) }} 
                {{ render_select_field(form.niveau, 'col-lg-3 col-10', disabled=True, required=false) }} 
                {{ render_select_field(form.diplome, 'col-lg-6 col-10', disabled=True, required=false) }}
                {{ render_select_field(form.filiere, 'col-lg-6 col-10', disabled=True, required=false) }} 
                {{ render_select_field(form.option, 'col-lg-6 col-10', disabled=True, required=false) }} 
            {% endcall%} <!-- End choix concours-->

            <!-- Info generales -->
            {% call render_sub_form(form, '2. Informations personnelles')%}  
                {{ render_text_field(form.nom, 'col-lg-6 col-10') }}  
                {{ render_text_field(form.prenom, 'col-lg-6 col-10', required=false) }}  
                {{ render_text_field(form.date_naissance, 'col-lg-4 col-10')}}  
                {{ render_text_field(form.lieu_naissance, 'col-lg-8 col-10')}} 
                {{ render_select_field(form.sexe_id, 'col-lg-4 col-10') }}
                {{ render_select_field(form.situation_matrimoniale_id, 'col-lg-4 col-10') }}
            {% endcall%}  <!-- End Info generales -->

            <!-- Origine géographique -->
            {% call render_sub_form(form, '3. Origine géographique')%}
                {{ render_select_field(form.langue_id, 'col-lg-6 col-10') }}
                {{ render_select_field(form.nationalite_id, 'col-lg-6 col-10') }}
                {{ render_select_field(form.region_origine_id, 'col-lg-6 col-10') }}
                {{ render_select_field(form.departement_origine_id, 'col-lg-6 col-10') }}
            {% endcall%} <!-- End Origine géographique -->
            
            <!-- Cursus academique -->
            {% call render_sub_form(form, "4. Cursus academique")%}
            <div class="table-responsive">
                <table id="cursus_table" class="table table-bordered table-sm">
                    <thead>
                            <tr>
                            <th>Année</th>
                            <th>Etablissement</th>
                            <th>Diplôme</th>
                            <th>Mention</th>
                            <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for row in form.cursus %}
                            <tr>
                                <td>{{ render_text_cell(row.annee, '') }}</td>
                                <td>{{ render_text_cell(row.etablissement, '') }}</td>
                                <td>{{ render_text_cell(row.diplome, '') }}</td>
                                <td>{{ render_text_cell(row.mention, '') }}</td>
                                <td>
                                    {{ row.csrf_token }}
                                    <button type="button" class="btn btn-sm btn-danger delete-row">Supprimer</button>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                </table>
            </div>
            <button type="button" id="add_row" class="btn btn-primary">Ajouter une ligne</button>
            {% endcall%} <!-- End cursus academique-->

            <!-- Coordonnées -->
            {% call render_sub_form(form, '5. Coordonnées')%}
                {{ render_text_field(form.telephone, 'col-lg-6 col-10') }} 
                {{ render_text_field(form.email, 'col-lg-6 col-10', required=false) }} 
            {% endcall%} <!-- End Coordonnées -->


            <!-- Actions finales -->
            <div class="my-3 g-3">
            <div class="d-flex flex-column flex-lg-row justify-content-center text-center pb-4">
                <a href="{{ url_for('concours.view_inscr') }}" class="btn btn-secondary btn-lg m-1">Annuler les modifications</a>
                <button id="ok_button" type="submit" class="btn btn-primary btn-lg m-1">Valider les modifications</button>
            </div>
            </div> <!-- End Actions finales -->
                
        </form>
    </section>
</div>
{% endblock %}


{% block vendor_js %}
    <script src="{{ url_for('static', filename='vendor/jquery-3.6.0.min.js') }}"></script>  
    <script src="{{ url_for('static', filename='vendor/jquery-chained/jquery.chained.js') }}"></script>
    <script src="{{ url_for('concours.static', filename='js/jquery.inputmask.bundle.min.js') }}"></script>
{% endblock %}

{% block custom_js %}
    <script src="{{ url_for('concours.static', filename='js/main.js') }}"></script>
    <script>
        $(document).ready(function() {
            
            // chained select fields
            $("#region_origine_id").chained("#nationalite_id");
            $("#departement_origine_id").chained("#region_origine_id");
            
            // format date
            $('#date_naissance').inputmask('99/99/9999');

            // trigger the modal confirmation
            $("#ok_button").click(function(event) {
                event.preventDefault();
                $('#confirm_modal').modal('show');
            })
            
            // confirms submission
            $('#confirm_button').click(function() {
                $('form').submit();
            })

        });
    </script>
{% endblock %}

{% block page_authors%} 
    <a>Malcom C. Penda</a>
{% endblock %}
