{% extends 'dashboard/layout.jinja' %}
{% set page_id = 'concours_identity_pg' %}
{% from 'preins-macros.jinja' import render_info_form, render_messages %}

{% block page_header %}
  <h1>{{ _('Inscription') }}</h1>
  <h3 class="text-secondary mb-3">Etape 1: Identite</h3>
{% endblock %}

{% block page_main %}
<div class="container">
    <section class="section row g-4 pt-0">
    
        <!-- Alertes -->
        {{ render_messages() }}

        <form class="col-lg-10 col-12 needs-validation" novalidate 
              method="POST" action="{{ url_for('concours.identity') }}">
                    
            {{ form.csrf_token }}


            <!-- Info generales -->
            <div class="card my-2">
                <div class="card-body">
                    <div class="row g-3">
                        <h6 class="card-title mx-1 mt-3 mb-0">1.1. Informations personnelles</h6>     
                        <div class="col-lg-6 col-10">
                            {% if mode == 'new' %}
                                <div class="d-flex justify-content-start">
                                    {{ form.matricule.label(class_="form-label")}}
                                    <div class="text-warning">
                                        <i class="bi bi-exclamation-triangle ms-2 me-1"></i>
                                        Pour ancien etudiant
                                    </div>
                                </div>
                                {{ form.matricule(class_="form-control") }}
                            {% elif mode == 'debug' %}
                                {{ form.matricule.label(class_="form-label")}}
                                {{ form.matricule(class_="form-control") }}
                            {% else %}
                                {{ form.matricule.label(class_="form-label")}}
                                {{ form.matricule(class_="form-control", disabled=true) }}
                            {% endif %}
                        </div>         
                        <div class="col-lg-6 col-2"><span></span></div>                                 
                        <div class="col-lg-6 col-10">
                            {{ form.nom.label(class_="form-label", required=true)}}
                            {{ form.nom(class_="form-control") }}
                            {% for error in form.nom.errors %}
                                <div class="invalid-feedback">[{{ error }}]</div>
                            {% endfor %}
                        </div>
                        <div class="col-lg-6 col-10">
                            {{ form.prenom.label(class_="form-label")}}
                            {{ form.prenom(class_="form-control") }}
                        </div>                
                        <div class="col-lg-4 col-10">
                            {{ form.date_naissance.label(class_="form-label", required=true)}}
                            {{ form.date_naissance(class_="form-control") }}
                            {% for error in form.date_naissance.errors %}
                                <div class="invalid-feedback">[{{ error }}]</div>
                            {% endfor %}
                        </div>
                        <div class="col-lg-8 col-10">
                            {{ form.lieu_naissance.label(class_="form-label", required=true)}}
                            {{ form.lieu_naissance(class_="form-control") }}
                            {% for error in form.lieu_naissance.errors %}
                                <div class="invalid-feedback">[{{ error }}]</div>
                            {% endfor %}
                        </div>
                        <div class="col-lg-4 col-10">
                            {{ form.sexe_id.label(class_="form-label", required=true)}}
                            {{ form.sexe_id(class_="form-select") }}
                            {% for error in form.sexe_id.errors %}
                                <div class="invalid-feedback">[{{ error }}]</div>
                            {% endfor %}
                        </div>
                        <div class="col-lg-4 col-10">
                            {{ form.situation_matrimoniale_id.label(class_="form-label", required=true)}}
                            {{ form.situation_matrimoniale_id(class_="form-select") }}
                            {% for error in form.situation_matrimoniale_id.errors %}
                                <div class="invalid-feedback">[{{ error }}]</div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>  <!-- End Info generales -->


            <!-- Origine géographique -->
            <div class="card my-2">
                <div class="card-body">
                    <div class="row g-3">
                        <h6 class="card-title mx-1 mt-4 mb-0">1.2. Origine géographique</h6>
                        <div class="col-lg-6 col-10">
                            {{ form.langue_id.label(class_="form-label", required=true)}}
                            {{ form.langue_id(class_="form-select") }}
                            {% for error in form.langue_id.errors %}
                                <div class="invalid-feedback">[{{ error }}]</div>
                            {% endfor %}
                        </div>
                        <div class="col-lg-6 col-10">
                            {{ form.nationalite_id.label(class_="form-label", required=true)}}
                            {{ form.nationalite_id(class_="form-select") }}
                            {% for error in form.nationalite_id.errors %}
                                <div class="invalid-feedback">[{{ error }}]</div>
                            {% endfor %}
                        </div>
                        <div class="col-lg-6 col-10">
                            {{ form.region_origine_id.label(class_="form-label", required=true)}}
                            {{ form.region_origine_id(class_="form-select") }}
                            {% for error in form.region_origine_id.errors %}
                                <div class="invalid-feedback">[{{ error }}]</div>
                            {% endfor %}
                        </div>
                        <div class="col-lg-6 col-10">
                            {{ form.departement_origine_id.label(class_="form-label", required=true)}}
                            {{ form.departement_origine_id(class_="form-select") }}
                            {% for error in form.departement_origine_id.errors %}
                                <div class="invalid-feedback">[{{ error }}]</div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div> <!-- End Origine géographique -->

            <!-- Actions finales -->
            <div class="row mt-3 g-3">
                <div class="text-center">
                    <button type="submit" class="btn btn-primary btn-lg m-1">{{ _('Etape suivante') }}</button>
                </div>
            </div>
            
        </form>
    </section>
</div>
{% endblock %}

{% block vendor_js %}
    <script src="{{ url_for('static', filename='vendor/jquery-3.6.0.min.js') }}"></script>  
{% endblock %}

{% block custom_js %}
    <script src="{{ url_for('preins.static', filename='js/preins-info-new.js') }}"></script>
{% endblock %}

{% block page_authors%} 
    <a>Malcom C. Penda</a>
{% endblock %}
