
{% macro render_messages() %}
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button aria-label="Close" class="btn-close" data-bs-dismiss="alert" type="button"></button>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith%}
{% endmacro %}

{% macro render_pagination(records) %}
  <nav class="d-flex flex-row justify-content-lg-between justify-content-center align-items-center">
    <div class="page-items d-lg-block d-none">
      {{ records.first }} - {{ records.last }} {{ _('sur') }} {{ records.total }}
    </div>
    <ul class="pagination pagination-sm justify-content-end">
      {% if records.has_prev %}
        <li class="page-item">
          <a class="page-link" href="{{ url_for('preins.search_infos', page=records.prev_num, **kwargs) }}" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
      {% else%}
        <li class="page-item disabled">
          <a class="page-link" href="#" tabindex="-1" aria-disabled="true">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
      {% endif %}

      {% for page in records.iter_pages(left_edge=1, left_current=2, right_current=2, right_edge=1) %}
        {% if page %}
          {% if page != records.page %}
            <li class="page-item">
              <a class="page-link" href="{{ url_for('preins.search_infos', page=page, **kwargs) }}">
                {{ page }}
              </a>
            </li>
          {% else %}
            <li class="page-item">
              <a class="page-link" href="#">
                <strong>{{ page }}</strong>
              </a>
            </li>
          {% endif %}
        {% else %}
          <span class="ellipsis">…</span>
        {% endif %}
      {% endfor %}
      
      {% if records.has_next %}
        <li class="page-item">
          <a class="page-link" href="{{ url_for('preins.search_infos', page=records.next_num, **kwargs) }}" aria-label="Previous">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      {% else%}
        <li class="page-item disabled">
          <a class="page-link" href="#" tabindex="-1" aria-disabled="true">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      {% endif %}
    </ul>
  </nav>
{% endmacro %}

{% macro render_sub_form(form, title) %}
    <div class="card my-2">
        <div class="card-body">
            <div class="row g-3">
                <h6 class="card-title mx-1 mt-3 mb-0">{{ title }}</h6>
                <!-- cols -->
                {{ caller() }}
            </div>
        </div>
    </div> 
{% endmacro %}

{% macro render_text_field(field, class, required=true, disabled=false) %}                         
    <div class="{{ class }} mb-lg-3 mb-2">
        {{ field.label(class_="form-label", required=required )}}
        {{ field(class_="form-control", disabled=disabled ) }}
        {% if field.errors %}
            {% for error in field.errors %}
                <div class="invalid-feedback">[{{ error }}]</div>
            {% endfor %}
        {% endif %}
    </div>
{% endmacro %}

{% macro render_select_field(field, class, required=true, disabled=false) %}                              
    <div class="{{ class }} mb-lg-3 mb-2">
        {{ field.label(class_="form-label", required=required )}}
        {{ field(class_="form-select", disabled=disabled ) }}
        {% if field.errors %}
            {% for error in field.errors %}
                <div class="invalid-feedback">[{{ error }}]</div>
            {% endfor %}
        {% endif %}
    </div>
{% endmacro %}


{% macro render_card(inscription, title)%}
    <div class="card my-2">
        <div class="card-body">
            <div class="row g-3">
                <h6 class="card-title mx-1 mt-3 mb-0">{{ title }}</h6> 
                <!-- cols -->
                {{ caller() }}
            </div>
        </div>
    </div>
{% endmacro %}


{% macro render_card_field(id, label, value, class) %} 
    <div class="{{ class }}">
        <label for="{{ id }}" class="form-label">{{ label }}</label>
        <input type="text" class="form-control" id="{{ id }}" value="{{ value }}" disabled>
    </div>          
{% endmacro %}


{% macro render_text_cell(field, class, disabled=false) %}                         
    <div class="{{ class }}">
        {{ field(disabled=disabled) }}
        {% if field.errors %}
            {% for error in field.errors %}
                <div class="invalid-feedback">[{{ error }}]</div>
            {% endfor %}
        {% endif %}
    </div>
{% endmacro %}

{% macro render_select_cell(field, class, disabled=false) %}                              
    <div class="{{ class }}">
        {{ field(disabled=disabled) }}
        {% if field.errors %}
            {% for error in field.errors %}
                <div class="invalid-feedback">[{{ error }}]</div>
            {% endfor %}
        {% endif %}
    </div>
{% endmacro %}


{% macro render_confirm_modal(modal_name, button_name) %}
<div class="modal fade" id="{{ modal_name }}" tabindex="-1" role="dialog" aria-labelledby="{{ modal_name }}_label" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="{{ modal_name }}_label">{{ _('Confirmation') }}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
            </div>
            <div class="modal-body">
                {{ caller() }}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{ _('Non') }}</button>
                <button type="button" class="btn btn-primary" id="{{ button_name }}">{{ _('Oui') }}</button>
            </div>
        </div>
    </div>
</div>
{% endmacro %}


{% macro render_notes(level='warning') %}
<div class="d-flex flex-row justify-content-start align-items-start">
    <i class="text-{{ level }} bi bi-exclamation-triangle ms-0 me-2"></i>
    {{ caller() }}
</div>
{% endmacro %}